@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movie Shop Demo</h1><br/>
    
    <ul>
        <li style="font-size: 25px"><strong>Movie</strong></li>
    </ul>
</div>