@using ApplicationCore.Contracts.Services
@inject IGenreService GenreService

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" id="genreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        ByGenre
    </a>
    <ul class="dropdown-menu" aria-labelledby="genreDropdown">
        <a asp-action="Index" asp-controller="Movie" class="dropdown-item">Select All</a>
        @foreach (var genre in await GenreService.GetAllGenresAsync())
        {
            <li>
                <a asp-action="ByGenre" asp-controller="Movie" class="dropdown-item" asp-route-GenreId="@genre.Id">@genre.Name</a>
            </li>
        }
    </ul>
</li>