@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ApplicationCore.Models.MovieCardModel>;
@{
ViewData["Title"] = "List of Movies";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <form asp-controller="Movie" asp-action="SearchById" method="get" class="mb-4"><br/>
        <div class="form-row">
            <div class="col-md-8">
                <input type="number" name="id" class="form-control" placeholder="Enter Movie ID" required />
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <div class="row">
        @foreach (var movie in Model)
        {
        <div class="col-md-3 mb-4">
            @Html.Partial("_MovieCard", movie)
        </div>
        }
    </div>
</div>
