@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ApplicationCore.Entities.Movie>;
@{
    ViewData["Title"] = "List of Movies";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        @foreach (var movie in Model)
        {
        <div class="col-md-2 mb-4">
            <div class="card">
                <a href=@movie.ImdbUrl><img src="@movie.BackdropUrl" class="card-img-top" alt="@movie.Title" style="height: 200px; object-fit: cover;"></a>
            </div>
        </div>
        
        }
    </div>
</div>