@model IEnumerable<ApplicationCore.Models.MovieCardModel>

<h2>Top Revenue Movies</h2>

<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Backdrop</th>
        <th>IMDB URL</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model)
    {
    <tr>
        <td>@movie.Title</td>
        <td>
            <img src="@movie.BackdropPath" alt="@movie.Title" width="100" />
        </td>
        <td>
            <a href="@movie.ImdbUrl" target="_blank">View on IMDB</a>
        </td>
    </tr>
    }
    </tbody>
</table>
