@model ApplicationCore.Models.CastCardModel

<div class="card">
    <a href=@Url.Action("Details","Cast",new{id=Model.Id})><img src="@Model.ProfilePath" class="card-img-top" alt="@Model.Name" style="height: 200px; object-fit: cover;"></a>
</div>