@model ApplicationCore.Models.CastCardModel

<div class="card">
    <a href=@Model.TmdbUrl><img src="@Model.ProfilePath" class="card-img-top" alt="@Model.Name" style="height: 200px; object-fit: cover;"></a>
</div>