@using Infrastructure.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ApplicationCore.Entities.Cast>

@{
    ViewData["Title"] = "Actor List";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    
</div>