@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<ApplicationCore.Entities.Movie>
@{
    ViewData["Title"] = "List of Movies";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Location</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DepartmentId</td>
            <td>@item.Name</td>
            <td>@item.Address</td>
        </tr>
    }
    </tbody>

</table>