@model IEnumerable<ApplicationCore.Models.CastCardModel>;
@{
    ViewData["Title"] = "List of Casts";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        @foreach (var cast in Model)
        {
            <div class="col-md-3 mb-4">
                @Html.Partial("_CastCard", cast)
            </div>
        }
    </div>
</div>